body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ff5e0030;
}

#container {
  border: 5px solid;
  margin: auto auto;
  height: 500px;
  width: 500px;
  background-color: white;
}

.btn {
  font-size: 20px;
  margin: 20px 90px;
  padding: 5px 20px;
  background-color: #00bfff80;
  border: 2px solid;
  border-radius: 7px;
}

.btn:hover {
  background-color: #00ff00;
}
